/* src/index.css */

body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  background-color: #121212;
  color: #fff;
}

.MuiCard-root {
  background-color: #1c1c1c;
}

.MuiTypography-colorTextSecondary {
  color: rgba(255, 255, 255, 0.7);
}

.MuiAvatar-root {
  background-color: #3f51b5;
}
